#### 1: Import the dataset

In [2]:
#Import the required libraries
import numpy as np
import pandas as pd

In [15]:
#Import the advertising dataset
adDatasets = pd.read_csv('Advertising Budget and Sales.csv', index_col=0)
adDatasets

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1               230.1                 37.8                     69.2       22.1
2                44.5                 39.3                     45.1       10.4
3                17.2                 45.9                     69.3        9.3
4               151.5                 41.3                     58.5       18.5
5               180.8                 10.8                     58.4       12.9
..                ...                  ...                      ...        ...
196              38.2                  3.7                     13.8        7.6
197              94.2                  4.9                      8.1        9.7
198             177.0                  9.3                      6.4       12.8
199             283.6                 42.0                     66.2       25.5
200             232.1                  8.6                      8.7       13.4

[200 rows x 4 columns]

#### 2: Analyze the dataset

In [16]:
#View the initial few records of the dataset
adDatasets.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [24]:
#Check the total number of elements in the dataset
adDatasets.size

800

#### 3: Find the features or media channels used by the firm

In [25]:
#Check the number of observations (rows) and attributes (columns) in the dataset
adDatasets.shape

(200, 4)

In [27]:
#View the names of each of the attributes
adDatasets.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [37]:
#Create a feature object from the columns
x_feature = adDatasets[['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)']]

In [39]:
#View the feature object
x_feature.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [40]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y_target = adDatasets[['Sales ($)']]

In [42]:
#View the target object
y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [43]:
#Verify if all the observations have been captured in the feature object
x_feature.shape

(200, 3)

In [44]:
#Verify if all the observations have been captured in the target object
y_target.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [45]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_feature,y_target, random_state=1)

In [47]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(150, 3) (50, 3) (150, 1) (50, 1)

#### 6: Create a model  to predict the sales outcome

In [49]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
leReg = LinearRegression()
leReg.fit(x_feature,y_target)

LinearRegression()

In [51]:
#Print the intercept and coefficients 
print("intercept: ",leReg.intercept_)
print("Coefficient: ",leReg.coef_)

intercept:  [2.93888937]
Coefficient:  [[ 0.04576465  0.18853002 -0.00103749]]

In [52]:
#Predict the outcome for the testing dataset
y_pred = leReg.predict(x_test)
y_pred

array([[21.89805198],
       [16.37766467],
       [ 7.57483051],
       [17.64409385],
       [18.53852096],
       [23.76732149],
       [16.31492112],
       [13.18867186],
       [ 9.14402389],
       [17.1861428 ],
       [14.35827373],
       [ 9.95168206],
       [17.28512918],
       [16.92225511],
       [14.7598741 ],
       [15.56609348],
       [12.39914823],
       [17.00682618],
       [11.45348627],
       [18.13348698],
       [ 9.33981296],
       [12.82365674],
       [ 8.88787996],
       [10.48212385],
       [11.3460929 ],
       [14.94678206],
       [ 9.90868103],
       [19.41053803],
       [18.48695797],
       [17.05167344],
       [21.7226299 ],
       [14.22372138],
       [16.49530044],
       [12.1620464 ],
       [19.9793727 ],
       [15.33707782],
       [13.74435742],
       [ 9.90298206],
       [21.10891244],
       [ 7.60769238],
       [ 3.58725841],
       [ 7.10850249],
       [ 6.05162411],
       [18.43436638],
       [ 8.52771254],
       [14.16607293],
       [15.30509593],
       [20.44761039],
       [20.80301059],
       [19.45441306]])

#### 7: Calculate the Mean Square Error (MSE)

In [54]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import metrics

In [55]:
#Calculate the MSE
print("MSE: ",np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

MSE:  1.343580430635202